*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
   display: flex;
    align-items: center;
   justify-content: center;
}

.container{
    width: 450px;
    height: 400px;
    background:rgba(128, 128, 128, 0.1);
    display: flex;
    align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 30px;
   padding: 20px 0px;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

#textarea{
    resize: none;
    padding: 10px;
    height:40vh;
    width: 80%;
    
}

.btn{
    display: block;
    width: 80%;
    padding: 10px;
    background:transparent;
    color:green;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: none;
    transition: 0.7s;
     
    
}

.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    transition: 2s ;
}
span{
   display: none;
}

.active{
    animation: set  5000ms infinite linear ;
    display: block;
    transition: 2s;
    
     
}

@keyframes set{
  0%{
    transform: scale(1);
  }

  50%{
    transform: scale(1.6);
  }

  75%{
    transform: scale(2);
  }
}